name: CI/CD - Swiggy Deployment

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Backend Image
        run: docker build -t swiggy-backend -f proxy-server/Dockerfile.backend proxy-server

      - name: Build Frontend Image
        run: docker build -t swiggy-frontend -f Dockerfile.frontend .

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Create SSH key file
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@${{ secrets.EC2_HOST }} "bash ~/deploy.sh"
