name: CI/CD - Swiggy Deployment

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm test

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3

      - name: Build Backend Image
        run: docker build -t swiggy-backend -f proxy-server/Dockerfile.backend proxy-server

      - name: Build Frontend Image
        run: docker build -t swiggy-frontend -f Dockerfile.frontend .

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Create SSH key file
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy on EC2 using Docker Compose
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@${{ secrets.EC2_HOST }} "bash /home/ubuntu/deploy.sh"

